/* manual style */
.hide{
  display: none;
}
.show{
  display: block;
}
.fontWeight-600{
  font-weight: 600;
}
.blueFont{
  color: #3f51b5;
}
.cursor{
  cursor: pointer;
}


.mainReg{
  background-image: url(https://images.wallpapersden.com/image/download/mix-colour-background_64813_3840x2160.jpg);
  background-size: cover;
  box-shadow: 2px 1px 7px 1px;
  border-radius: 10px;
  margin-top: 70px;
  margin-right: 30px;
}
.mainRegForgot{
  background-color: beige;
  background-size: cover;
  box-shadow: 2px 1px 7px 1px;
  border-radius: 10px;
  margin-top: 70px;
  margin-right: 30px;
}
.loginMainReg{
  background-color: white;
  background-size: cover;
  box-shadow: 2px 1px 7px 1px;
  border-radius: 10px;
  margin-top: 70px;
  margin-right: 30px;
}


.formApi{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
}
.loginFieldContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
}
.loginFieldContainer > *{
  margin-bottom: 10px;
}
.headerbar {
  background-color: gainsboro;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerbar>* {
  width: auto;
  /* border-bottom: 1px solid black; */
}

#searchbar {
  display: flex;
  align-items: center;
  margin: 4px;
  height: 34px;
}

.searchBox {
  width: 50%;
  margin-right: 10px;
}
.buttonBundle1{
  display: flex;
}
.MuiButtonBase-root.searchButton2{
  display: none;
}

@media screen and (max-width: 480px) {
  .searchBox {display: none;}
  .MuiIconButton-root.hideIcon{display: none;}
  .searchButton2{
    display: block;
  }
}

.header_left {
  display: flex;
  width: 20%;
}

.header_userProfile {
  display: flex;
  float: right;
  padding-right: 10px;
}
.profile_logo{
  width: 40px;
  height: 40px;
  border-radius: 40px; 
}

.sidebar {
  height: 600px;
  width: 20%;
  position: absolute;
  transition: 1s;
  left: 0%;
  font-size: small;
  font-weight: 500;
  color: gray;
  background-color: beige;
  /* height: -webkit-fill-available;
  border-radius: 0px 0px 16px 16px; */
}

.sidebar_component {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 0px 30px 30px 0px;
  padding: 10px;
}

.sidebar_component>* {
  padding-right: 18px;
}

.sidebar_component:hover {
  background-color: rgb(223, 223, 223);
}
.sidebar_component .MuiSvgIcon-root{
  color: gray;
}
.sidebar > *{
  margin-bottom: 10px;
  font-size: medium;
}
.lable{

}
.sidebar_divider {
  border-top: 3px solid green;
}
.dashboard_body{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.dashboard_container{
  transition: 1s;
}

.fundoo_header {
  background-color: rgba(255, 255, 0, 0.644);
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
    top: 0px;
    z-index: 986;
    background-color: yellow;
}

@media screen and (width:320px) {
  .fundoo_header {
    width: 100%;
  }
}

.fundoo_content {
  /* padding-left: 20%; */
  font-size: 25px;
}

h2 {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.services_list {
  /* display: flex;
  align-items: center;
  text-align: center; */
}

.services_card {
  width: 217px;
  height: 223px;
  justify-content: center;
  padding: 23px;
}

.front_card {
  background-color: whitesmoke;
  position: relative;
  z-index: 3;
  border-radius: 5px;
  box-shadow: 12px 15px 20px -13px;
}

.back_card {
  background-color: gray;
  margin-left: 29px;
  margin-top: -210px;
  position: relative;
  z-index: 2;
  border-radius: 5px;
  box-shadow: 12px 15px 20px -13px;
  display: flex;
    align-items: flex-end;
}


#card1:hover{
  margin: 0px 0px 20px 80px;
}
#card1:hover{
  margin: 0px 0px 20px 80px;
}
#card1:hover > .back_card{
  background-color: yellowgreen;
}
#card2:hover{
  margin: 0px 0px 20px 80px;
}
#card2:hover > .back_card{
  background-color: yellowgreen;
}

.servicecard_ul>li {
  margin: 10px;
}
.header_footer{
  width: 100%;
  height: 100px;
  text-align-last: center;
  padding-top: 50px;
}
.card_style{
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-image: url(https://previews.123rf.com/images/mazirama/mazirama1408/mazirama140800413/30659837-register-illustration-with-tablet-computer-on-blue-background.jpg);
	background-size: 100% 100%;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}
.login_card_style{
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://image.freepik.com/free-photo/table-made-with-planks_1253-2.jpg);
	background-size: 100% 100%;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}
.register_card_style{
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://cdn.pixabay.com/photo/2017/03/25/17/55/color-2174045__340.png);
	background-size: 100% 100%;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}
.card_container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: wrap;
}
.register_services{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


/* fundoo services */
.reg_main {
  display: flex;
    justify-content: center;
    flex-direction: row;
    height: -webkit-fill-available;
    align-items: center;
    height: auto;
}
.reg_card{
  width: 60%;
  margin: 100px;
}

/* Registration */
.form_row{
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
.form_row .MuiFormControl-root{
  /* margin-right: 30px;
  margin-bottom: 20px; */
  width: 48%;
}
#register_email{
  width: 100%;
}

.MuiTypography-root.register_title{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: 900;
}

/* Fundoo Sevices */

.fundoo_header {
  background-color: rgba(255, 255, 0, 0.644);
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
    top: 0px;
    z-index: 986;
    background-color: yellow;
}

.fundoo_content {
  /* padding-left: 20%; */
  font-size: 25px;
}

h2 {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.services_card {
  width: 217px;
  height: 223px;
  justify-content: center;
  padding: 23px;
}

.front_card {
  background-color: whitesmoke;
  position: relative;
  z-index: 3;
  border-radius: 5px;
  box-shadow: 12px 15px 20px -13px;
}

.back_card {
  background-color: gray;
  margin-left: 29px;
  margin-top: -210px;
  position: relative;
  z-index: 2;
  border-radius: 5px;
  box-shadow: 12px 15px 20px -13px;
  display: flex;
    align-items: flex-end;
}

.cardbox {
  /* margin: 10px 0px 20px 100px; */
  cursor: pointer;
}

#card1:hover{
  margin: 0px 0px 20px 80px;
}
#card1:hover{
  margin: 0px 0px 20px 80px;
}
#card1:hover > .back_card{
  background-color: yellowgreen;
}
#card2:hover{
  margin: 0px 0px 20px 80px;
}
#card2:hover > .back_card{
  background-color: yellowgreen;
}
.servicecard_ul>li {
  margin: 10px;
}
.header_footer{
  width: 100%;
  height: 50px;
  text-align-last: center;
  padding-top: 20px;
}

/* LOGIN */
.login_main {
  display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
    align-items: center;
}
.login_services{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Small Card */
.small_services_card {
  width: 150px;
  height: 204px;
  font-size: small;
  justify-content: center;
  padding: 15px;
}
.small_services_card.back_card{
  margin-top: -190px;
}
#login_form > *{
  margin-top: 20px;
}
.login-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
.links_left {
  width: 50%;
  margin-left: 21px;
  display: flex;
  flex-direction: column;
}
.links_left > *{
  margin-bottom: 10px;
}
.button_right {
  width: 50%;    
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.loginCardBottom{
  float: right;
  margin-right: 10px;
  margin-bottom: 20px;
}
.forgot_cardBottom{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin :10px;
}
.cardBottom > *{
  margin: 10px;
}

/* notes */
.cardRow{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.cardRow > .MuiPaper-root{
  width: 50%;
  box-shadow: 0px 0px 7px 0px;
}
.cardRow p.MuiTypography-root.MuiTypography-body1.MuiTypography-colorTextSecondary{
  display: flex;
  height: 20px;
  align-items: center;
}
.cardActions{
  display: flex;
  width: 100%;
  visibility: hidden;
}
.cardActionsEdit{
  display: flex;
  width: 100%;
}
.cardActionsMain{
  display: flex;
  width: 100%;
}
#notesCard{
  cursor: pointer;
}
#notesCard {
  box-shadow: 1px 1px 5px 0px;
}
#notesCard:hover .cardActions{
  visibility: visible;
}
#notesCard:hover {
  box-shadow: 2px 2px 10px 2px;
}
.fontStyle_main{
  font-weight: 500;
}
.card_buttonsLeft{
  width: 50%  ;
  display: flex;
}
.card_buttonsRight{
  width: 50%  ;   
  display: flex;
  justify-content: flex-end;
}
.card_buttonsRight .MuiButton-label{
  font-weight: 600;
}
.reminderMenu .MuiButtonBase-root{
  font-size: small;
  margin-top: 5px;
}
.reminderMenu .MuiSvgIcon-root{
  font-size: medium;
  margin-right: 5px;
}
.notes{
  display: flex;
  flex-flow: wrap;
  margin-top: 30px;
  /* min-width: 750px; */
  max-width: 906px;
}
.notes_container{
  display: flex;
  align-items: center;
  place-content: stretch center;
}
.notes > * {
  margin: 0px 10px 20px 20px;
  width: min-content;
}
#checkList{
  float: right;
}
#datePickBox > * {
  margin: 10px;
  font-size: small;
}
#datePickBox .MuiInputBase-root {
  font-size: small;
}
#datePickBox {
  display: flex;
  flex-direction: column;
}
.subCard_buttonsLeft{
  width: 100%  ;
  display: flex;
  justify-content: space-evenly;
}
.subCard_buttonsLeft  .MuiSvgIcon-root{
  font-size: large;
}
.subNotesMoreMenu .MuiMenuItem-root{
  font-size: small;
}
/* .MuiPaper-root.MuiDialog-paper{
  width: 50%;
} */
.buttonsLeftDialogBox{
  width: 100%  ;
  display: flex;
  justify-content: space-evenly;
}
.cardRow .MuiCardContent-root{
  padding: 10px 10px 0px 10px;
}
.cardRow .MuiInputBase-input{
  font-weight: 600;
}
.reminderHeading{
  font-size: medium;
    margin-left: 10px;
    font-weight: 500;
}
.addReminderMain{
  display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: small;
    font-weight: 700;
    width: 65%;
    background-color: antiquewhite;
    border-radius: 22px 22px 22px 22px;
    margin-bottom: 12px;
}
.list_ul{
  list-style: none;
  width: 72%;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

.list_ul > * {
  height: 25px;
  display: flex;
  align-items: center;
  background-color: darkgoldenrod;
  width: fit-content;
  border-radius: 15px;
  margin-bottom: 5px;
}
.listMainInput{
  display: flex;
  align-items: center;
  border-width: 1px;
  border-color: gray;
  border-top-style: solid;
  border-bottom-style: solid;
}
.cardRow .MuiTypography-root.MuiTypography-body1.MuiTypography-colorTextSecondary{
  display: flex;
  justify-content: space-between;
}
.cardRowNote .MuiTypography-root.MuiTypography-body1.MuiTypography-colorTextSecondary{
  display: flex;
  justify-content: space-between;
}
.cardRowNote .MuiInputBase-root{
  font-weight: 600;
}
.addReminderMain{
  font-size: x-small;
  height: 30px;
  margin-top: 10px;
}
.addReminderMain .MuiSvgIcon-root {
  font-size: medium;
}
.listMainInput > *{
  padding-right: 30px;
}
.colorBoxRoot .MuiPaper-root.MuiPopover-paper{
  max-width: 10.8%;
}
.colorBox{
  display: flex;
  flex-wrap: wrap;
}
.colorBox > *{
  margin: 5px;    
  min-height: 20px;
  min-width: 20px;
  background-color: blueviolet;
  border-radius: 5px;
  cursor: pointer;
}
.lableContainer{
  background-color: beige;
}
.lableHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 10px;
}
.lableHeader > .MuiButtonBase-root {
  margin-right: 10px;
}
.lable > * {
  margin-right: 20px;
}
.lable > svg {
  margin-left: 10px;
}
.lable{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  height: 43px;
}
.cardTakenoteField > .MuiInputBase-root{
  margin-top: 10px;
}

.lableFooter{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.lableFooter > *{
  margin-right: 10px;
}
.lableList > *:hover {
  background-color: #dfdfdf;
  border-radius: 0px 30px 30px 0px;
}
#simple-dialog-lable .MuiPaper-root.MuiDialog-paper{
  width: 30%;
}
.addLableHead{
  display:flex;
  align-items: center;
  justify-content: space-evenly;
}
.addLableHead > *{
  margin-right: 10px;
}
.editLablelist{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 30px;
}
.editLableFooter{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
  margin-top: 20px;
}
#diloadBoxTitleLable{
  height: 10px;
}
.lablelistSelect{
  display: flex;
  align-items: center;
}
.lableInNote{
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.lableInNote > *{
  display: flex;
  align-items: center;
  background-color: #898a87;
  justify-content: space-around;
  border-radius: 20px 20px 20px 20px;
  font-size: small;
  padding: 5px;
  margin-right: 10px;
  height: 20px;
}
.lableAddInstanceHeading {
  margin: 10px;
  display: flex;
    justify-content: space-evenly;
}
.addLabelOnNote{
  margin-right:20px;
  margin-left: 20px;
}
.navigationSidebar{
  display: flex;
  align-items: center;
  font-size: larger;
  text-transform:capitalize;
}
.emptySidebarMsg{
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: gray;
}
.emptySidebarMsg > .MuiSvgIcon-root{
  height: 10%;
  width: 77%;
}
.emptySidebarMsgContainer{
  margin-top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.listView{
  width: 250;
}
.gridView{
  width: 600px;
}
.formCard{
    /* background-image: url(https://images.wallpapersden.com/image/download/mix-colour-background_64813_3840x2160.jpg); */
    /* background-size: 100% 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.callaboratorTitle{
  margin: 10px;
}
.collaboratorListBox{
  width: 100%;
  margin-top: 10px;
}
.collaboratorListBox > *{
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}
.collaboratorOwner{
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.collaboratorOwner > *{
  margin-right: 20px;
}
.collaboratorDetails{
  display: flex;
  flex-direction: column;
  width: 90%;
}
.collabAction{
  display: flex;
  justify-content: flex-end;
  background-color:#e9e9e9;
}
#searchedListPopover{
  max-width: 40%;
}
#searchedListPopover > .MuiButtonBase-root.MuiListItem-root{
  max-width: 40%;
}
.emailIcon{
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 10%;
  font-size: 26px;
  border-radius: 29px;
  padding-bottom: 5px;
  margin-right: 13px;
  text-transform: capitalize;
}
.collabPop{
  width: 580px ;
}
.collabAtNote{
  display: flex;
}
.collabAtNote > div{
  background-color: steelblue;
  box-shadow: 1px 1px 4px 1px;
  width: 40px; 
  height: 40px;
  border-radius: 20px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}
.collabSearchList{
  height: 50vh;
}
.queAnsDialog{
  margin: 20px;
}
.queAnsTitle{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.queAnsHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
.noteQuesion{
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.noteQuesionHide{
  display: none;
}

#editorDialog{
  width: 900px;
}
.questionList{
  margin: 10px;
}
#askBtn{
  display: flex;
  flex-direction: row-reverse;
}
.queAndAnsNoteData{
  margin:10px
}
.ratingMain{
  display: flex;
  align-items: center;
}
.ratingRight{
  display: flex;
  align-items: center;
}
.margin-20px{
  margin: 20px;
}
.replyHeader{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
}
.replyList{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
}
.shopping_cart{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}
.shopping_address{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.shopping_cart_service{
  background-color: gray;
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
}
.shopping_cart > *{
  margin: 10px;
  font-size: small;
}
.shopping_cart_buleFont{
  color:#00a1ff
}
.service_card_subtotal{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: solid 1px;
  padding: 10px;
}
.service_card_subtotal > * {
  margin-bottom: 10px;
}
@media (max-width:768px) {
  .service_card_subtotal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .shopping_cart_service_main{
    min-width: 100%;
  }
  .service_card_subtotal_media{
    min-width: 100%;
  }
}
.MuiStep-root.MuiStep-horizontal .MuiStepIcon-active{
  display: none;
}
.orderPlaced{
  background-color: greenyellow;
  padding: 10px;
  border-radius: 5px;
}
.cart_container .MuiStepLabel-root{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart_container .MuiStepLabel-root > *{
  margin-top: 10px
}
.cart_container .MuiStepLabel-active {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart_container .MuiStepLabel-active > *{
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart_container{
  max-width: 700px;
}
.cart_stteper{
  display: flex;
  align-items: center;
  justify-content: center;

}
.cart_stteper > *{
  width: 85%;
}
.cart_stteper > span{
  width:15%;
  background-color: cadetblue;
  border-radius: 12px;
  padding: 10px;
}