
.headerbar{
  background-color: gainsboro;
  display: flex;
  align-items: center;
  height: 10vh

}.headerbar > *{
  width: 15%;
  /* border-bottom: 1px solid black; */
}
#searchbar{
  display: flex;
  align-items: center;
  margin: 4px;
}
.searchBox{
  width: 50%;
  margin-right: 10px ;
}
.header_left{
  display: flex;
  width: 20%;
}
.header_userProfile{
  float: right;
  padding-right: 10px;
}
