@import "./assets/css/registration.css";
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cardBottom {
  float: right;
  padding-right: 20px;
  font-weight: bold;
}
#appbar_card{
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 0px 0px 0px;
  background-color: lightgray;
}

/* .header-main{
  width: 100%;
  height: auto;
  box-shadow: 11px 1px 10px 0px;
  display: flex;
}
.header-main > div{
  height: 120%;
  box-sizing: border-box;
}
.header-left{
  width: 20%;
}
.header-left > *{
  padding-left: 20px;
}
.search-box{
  width: 40%;
}
.header-right{
  margin: 20px;
}
.header-options{
  width: 30%;
} */
.appbar_decor{
  height: 9vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid lightgray;
}
.image_icon{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.image_icon > * {
  /* width: 20%; */
  padding-left: 20px;
}
#header_card{
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 7vh;
}
.final_icon{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}